<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="HomepageStyles.css" th:href="@{../HomepageStyle.css}">
</head>


<body>
<header>

</header>
<nav>
    <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="/gpus"><li>GPU List</li></a>
        <a href="/brands"><li>GPU Brands</li></a>
    </ul>
</nav>
<main>

    <h1 class = "label"> All Graphics Cards </h1>
    <ul class = "gpuDisplay" th:each="gpu:${gpus}">
<li> <a th:href="@{'/gpus/' + ${gpu.getId()}}" th:text="${gpu.getName()}">GPUs</a> </li>

<li>  <img th:src="${gpu.getImageUrl()}"/> </li>


    </ul>
</h1>














</main>

</body>
</html>